<section class="d-md-flex p-3 gap-lg-3">
    <article class="w-75 text-center text-capitalize m-auto">
        <figure class="">
            <img class="img-fluid rounded" src="/img/ض.png" alt="" />
            <figcaption>
                Photo by <a class="font-monospace" href="">Muhammad Fahrul</a>
            </figcaption>
        </figure>
    </article>
    <article class="mb-3">
        <h1>Tentang Website</h1>
        <p>
            Website ini menyediakan materi belajar bahasa arab bagi mereka yang sudah
            mengenal huruf-huruf arab dan cara bacanya
        </p>
        <button type="button" class="btn btn-outline-primary">Mulai Belajar</button>
    </article>
</section>