<section class="container text-center">
    <h2>Fasilitas</h2>
    <p>
        Anda bisa memilih Pelajaran apa yang ingin anda pelajari pada fasilitas yang
        tersedia dibawah ini
    </p>
</section>
<section class="w-75 d-flex flex-column gap-4 mx-auto">
    <article class="row g-0 bg-light position-relative shadow-lg mb-4 rounded overflow-hidden">
        <div class="col-md-6 mb-md-0 p-md-4" style="
        background-image: url(/img/ض.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      ">
            <img src="/img/thumb/bahasa-dhod.jpg" alt="lughoh al-dhod" style="opacity: 0" />
        </div>
        <div class="col-md-6 p-3 ps-md-3">
            <h5 class="mt-0">Belajar Bahasa Arab</h5>
            <p>
                Materi ini bagi mereka yang sudah mengetahui Huruf-huruf Bahasa Arab dan
                cara bacanya
            </p>
            <a href="/services/bahasa-arab" class="btn btn-primary w-100">Mulai Perjalanan</a>
        </div>
    </article>
</section>