<section class="container-sm px-lg-5">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <article class="mx-lg-5">
                    <h2 class="text-capitalize">beberapa saran tentang bagaimana cara belajar bahasa Arab
                        yang efektif:</h2>
                    <ol type="1">
                        <li>
                            Mulai dengan mempelajari huruf-huruf Arab dan tata bahasa dasar. Ini akan
                            membantu Anda
                            memahami
                            struktur bahasa Arab dan memudahkan Anda dalam mempelajari kosakata baru.
                        </li>
                        <li> Latihan menulis dan membaca. Cara terbaik untuk memahami tata bahasa Arab
                            adalah dengan
                            terus-menerus menulis dan membaca. Anda dapat mencoba menulis kalimat-kalimat
                            sederhana dan
                            membacanya dengan suara Anda sendiri, atau mencoba membaca teks-teks yang lebih
                            sulit dengan
                            suara
                            yang dicetak tebal.</li>
                        <li>Dengarkan dan ucapkan kata-kata dan frasa yang sering digunakan. Cara terbaik
                            untuk belajar
                            bahasa
                            apapun adalah dengan terus-menerus mendengarkan dan mengucapkannya. Anda dapat
                            mencoba
                            mengucapkan
                            kata-kata dan frasa-frasa yang sering digunakan dalam bahasa Arab dengan benar,
                            sambil
                            mendengarkan
                            suara orang lain yang mengucapkannya.</li>
                        <li>Pelajari kosakata baru secara teratur. Belajar kosakata baru adalah salah satu
                            bagian yang
                            paling
                            penting dalam belajar bahasa Arab. Anda dapat mencoba menghafalkan kata-kata
                            baru dengan
                            cara
                            menuliskannya berkali-kali, atau dengan menggunakan flashcard atau aplikasi
                            pembelajaran
                            bahasa.</li>
                        <li>Ajak teman atau keluarga untuk belajar bersama. Belajar bersama dengan teman
                            atau keluarga
                            dapat
                            menjadi cara yang efektif untuk memotivasi diri Anda dan membantu Anda tetap
                            fokus dalam
                            belajar
                            bahasa Arab. Anda dapat mencoba berlatih bercakap-cakap dalam bahasa Arab dengan
                            teman atau
                            keluarga, atau mencoba menyelesaikan tugas-tugas belajar bersama-sama.</li>
                        <li>
                            Demikian beberapa saran tentang bagaimana cara belajar bahasa Arab yang efektif.
                            Semoga informasi
                            ini bermanfaat bagi Anda. Selamat belajar!
                        </li>
                    </ol>
                </article>
                <article class="mb-2">
                    <p>anda juga bisa menonton vidio untuk tambahan informasi</p>
                    <div class="ratio ratio-4x3">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/YK0pAz4N-YY"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </article>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
</section>